{% extends 'base.html' %}
{% block content %}
<table class="table">
    <h2>Details for {{ teachers.name}} </h2>
{% if teachers.photo %}
    <tr>
        <td>
            <img src="{{ teachers.photo.url }}" class="img-fluid rounded-circle"  style="height:200px; width:200px;">

        </td>
    </tr>
{% else %}
<tr>
    <td>
        No image to display

    </td>
</tr>
{% endif %}

    <tr>
        <th>Name:</th>
       <strong><td>{{ teachers.name}}</td></strong> 
    </tr>
    <tr>
        <th>Gender:</th>
        <td> {{ teachers.gender }} </td>
    </tr>
    <tr>
        <th>Name:</th>
        <td>{{ teachers.name}}</td>
    </tr>
    <tr>
        <th> Email: </th>
        <td>{{ teachers.email }}</td>
    </tr>
    {% if teachers.Covid_19 %}
    <tr>
        <th>COVID-19:</th>
        <td class="badge badge-danger"> Had corona virus </td>
    </tr>
    {% else %}
    <tr>
        <th>COVID-19:</th>
        <td class="badge badge-light"> No corona Safe </td>
        
    </tr>
    {% endif %}
    <tr>
        <th>School:</th>
        <td> {{ teachers.school }} </td>
    </tr>
    <tr>
        <th>Contact:</th>
        <td>{{ teachers.contact }}</td>
    </tr>
    <tr>
        <th>Subjects:</th>
        <td>   {% for subject in teachers.subjects.all %}
            {{ subject.sub_name }}
                {% endfor %}</td>
    </tr>
    <tr>
        <th> Address:</th>
        <td>{{ teachers.address }}</td>
    </tr>
   
</table>
<a href="{% url 'update_teacher' object.id  %}" class="btn btn-info">Update teacher</a>
<a href="{% url 'delete_teacher' object.id  %}" class="btn btn-warning">Delete teacher</a>


{% endblock %}