{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">
      <div class="container text-center">
      <img style="height:450px;" src="{% static 'images/b.JPG' %}" class=" img-fluid rounded-circle " alt="MG-webdeveloper">
      <h3><span class="badge badge-secondary">Mgwebdeveloper</span></h3>
      <p class="text-light" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Welcome to my Projects thanks for spending some time for me, hope you will find me helpfull for your projects.</p>
      </div>

    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <h3><span class="badge badge-secondary">Skills crushed</span></h3>
   
      
      <div class="progress">
        <div class="progress-bar progress-bar-animated progress-bar-striped bg-success" style="width:100% ;height:25px;"><h5>HTML 100%</h5></div>
      </div>
      <br>
      <div class="progress">
        <div class="progress-bar progress-bar-animated  progress-bar-striped" style="width:100% ;height:25px;"><h5>Bootstrap4 100%</h5></div>
      </div>
      <br>
      <div class="progress">
        <div class="progress-bar progress-bar-animated  progress-bar-striped bg-info" style="width:80% ;height:25px;"><h5>Python/Django 80%</h5></div>
      </div>
      <br>
      <div class="progress">
        <div class="progress-bar progress-bar-animated  progress-bar-striped bg-danger" style="width:75% ;height:25px;"><h5>MYSQL/Postgres 75%</h5></div>
      </div>
      <br>
      <div class="progress">
        <div class="progress-bar progress-bar-animated  progress-bar-striped bg-warning" style="width:70% ;height:25px;"><h5>CSS3 70%</h5></div>
      </div>
      <br>

      <h3><span class="badge badge-secondary">Experience-level</span></h3>
      <br>
      <P class="text-light" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:larger">
        I have been working as a webdeveloper in freelancing from 1.5 years.I am a python django backend developer
        I can make a professional dynamic websites for you starting from <strong class="text-primary">$5-$50</strong>.
        you can also visit my profile on fiverr and upwork on <a target="_blank" href="https://www.fiverr.com/my_profile"><img style="width:40px; height:40px;" src="https://www.iconfinder.com/data/icons/popular-services-brands-vol-2/512/fiverr-128.png"></a> and <a href="https://www.upwork.com/o/profiles/users/~0189b3008f8916c828/" target="_blank"><img style="width:40px; height:40px;" src="https://img.icons8.com/ios-filled/2x/upwork.png"></a>.
        <br>
       
        
      </P>


    </div>

  </div>

</div>
{% endblock %}